version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: elearning_db
    environment:
      POSTGRES_DB: elearning_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:alpine
    container_name: elearning_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

volumes:
  db_data:
  redis_data: